{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Desarollo' %} {% endblock %}

{% block content %}
<p>lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum
</p>
<p>lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum
</p>
<p>lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum
</p>
<p>lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum
</p>
{% endblock %}