{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Preguntas Frecuentes' %} {% endblock %}

{% block content %}
<h1>Pregunta 1</h1>
<p>
Respuesta lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum
</p>
<h1>Pregunta 2</h1>
<p>
Respuesta lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum lorem ypsum
</p>
{% endblock %}