
{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Portada' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{{ SITE_NAME }}</h1>
        <p>El Banco del Tiempo de Ecolocal es un lugar donde podrás intercambiar servicios con otros usuarios usando el tiempo como moneda de cambio. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut iaculis lacinia purus.</p>
    </div>

    <div class="section_4">
        <h1>{% trans 'Servicios más recientes' %}</h1>
        {% if not user.is_authenticated %}
            {% url user-register as user_register %}
            <p>{% blocktrans %}Para poder ver más servicios debes <a href='{{ user_register }}'>registrarte</a>.{% endblocktrans %}</p>
        {% endif %}
        <p>
        <div class="subcontent services">
            {% include "serv/listservs.html" %}
            <a href="{% url serv-list %}" class="more">{% trans "+ servicios" %}</a>
        </div>
        <div class="cleaner"></div>
    </div>
{% endblock %}
