
{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Portada' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{{ SITE_NAME }}</h1>
        <p>El Banco del Tiempo de Ecolocal es un lugar donde podrás intercambiar servicios con otros usuarios usando el tiempo como moneda de cambio. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut iaculis lacinia purus.</p>
    </div>

    <div class="section_4">
        <h1>{% trans 'Servicios' %}</h1>
        <div class="subcontent services">
            {% include "serv/listservs.html" %}
            <a href="/services/">{% trans "Más servicios" %}</a>
        </div>
        <div class="cleaner"></div>
    </div>
{% endblock %}
