{% load i18n %}
{% url serv-transfer-view transfer.id as transfer_url %}
{% if not transfer.is_direct %}
{% blocktrans with transfer.creator.username as transfer_creator and transfer.service.creador.username as service_creator %}Hola {{ transfer_creator }},

La transferencia que solicitaste del servicio de {{ service_creator }} ha sido aceptada por él/ella. Puedes ver los detalles de la transferencia en {{ site_url }}{{ transfer_url }} .

El equipo de {{ site_url }}{% endblocktrans %}
{% else %}
{% blocktrans with transfer.creator.username as transfer_creator and transfer.recipient.username as transfer_recipient %}Hola {{ transfer_creator }},

La transferencia directa que solicitaste a {{ recipient }} ha sido aceptada por él/ella. Puedes ver los detalles de la transferencia en {{ site_url }}{{ transfer_url }} .

El equipo de {{ site_url }}{% endblocktrans %}
{% endif %}
