{% extends "template_base.html" %}

{% load url from future %}

{% load i18n %}
{% block title %} {% trans 'Services' %} {% endblock %}

{% block content %}
<div class="section_3">
    <h2>{% trans "Services" %} / {% block subtitle %} {% endblock %}</h2>
    <ul class="subnavilist">
        <li><a href="{% url 'serv-list' %}?mine=1" class="{% current_tab 'my' 'subtab' %}">{% trans "My Services" %}</a><small>/</small></li>
        <li><a href="{% url 'serv-list' %}" class="{% current_tab 'find' 'subtab' %}">{% trans "Find Services" %}</a><small>/</small></li>
        <li><a href="{% url 'serv-add' %}"  class="important_link {% current_tab 'add' 'subtab' %}">{% trans "Create new service" %}</a></li>
    </ul>
    <div class="subcontent services">
        {% block subcontent %}
        {% endblock %}
    </div>
</div>
{% endblock %}
