{% load i18n %}{% url serv-transfer-view transfer.id as transfer_url %}{% if transfer.is_direct %}{% blocktrans with transfer.creator.username as transfer_creator and transfer.recipient.username as transfer_recipient %}Hola {{ transfer_recipient }},

{{ transfer_creator }} ha creado una transferencia directa contigo. Puedes ver y administrar la transferencia en {{ site_url }}{{ transfer_url }} .

El equipo de {{ site_url }}{% endblocktrans %}
{% else %}{% if transfer.service.oferta %}{% blocktrans with transfer.credits_payee.username as recipient and transfer.credits_debtor.username as sender %}Hola {{ recipient }},

{{ sender }} te ha solicitado una transferencia de un servicio que ofertas. Puedes ver y administrar la transferencia en {{ site_url }}{{ transfer_url }} .

El equipo de {{ site_url }}{% endblocktrans %}
{% else %}
{% blocktrans with transfer.credits_debtor.username as recipient and transfer.credits_payee.username as sender %}Hola {{ recipient }},

{{ sender }} te ha solicitado una transferencia de un servicio que solicitas. Puedes ver y administrar la transferencia en {{ site_url }}{{ transfer_url }} .

El equipo de {{ site_url }}{% endblocktrans %}
{% endif %}
{% endif %}
