{% load url from future %}
{% load i18n %}{% url 'serv-transfer-view' transfer.id as transfer_url %}{% if transfer.is_direct %}{% blocktrans with transfer.creator.username as transfer_creator and transfer.recipient.username as transfer_recipient %}Hi {{ transfer_recipient }},

{{ transfer_creator }} has created a direct transfer with you. You can see and admin the transfer in {{ site_url }}{{ transfer_url }} .

The team of {{ site_url }}{% endblocktrans %}
{% else %}{% if transfer.service.is_offer %}{% blocktrans with transfer.credits_payee.username as recipient and transfer.credits_debtor.username as sender %}Hi {{ recipient }},

{{ sender }} has requested to you a service you offer. You can see and admin the transfer in {{ site_url }}{{ transfer_url }} .

The team of {{ site_url }}{% endblocktrans %}
{% else %}
{% blocktrans with transfer.credits_debtor.username as recipient and transfer.credits_payee.username as sender %}Hi {{ recipient }},

{{ sender }} has created a transfer of a service you request. You can see and admin the transfer in {{ site_url }}{{ transfer_url }} .

The team of {{ site_url }}{% endblocktrans %}
{% endif %}
{% endif %}
