{% extends "serv/base.html" %}
{% load i18n %}
{% block subtitle %}
    {% trans "Comentar un servicio" %}
{% endblock %}

{% block subcontent %}
    <h2>{% trans "Servicio" %}</h2>
    {% with service as serv %}
        {% include "serv/single_service_view.html" %}
    {% endwith %}
    <h2 style="margin-top: 30px">{% trans "Comentar el servicio" %}</h2>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            {% include "main/form_snippet.html" %}
        </fieldset>
        <input type="submit" value="{% trans 'Enviar comentario' %}"/>
    </form>
</div>
{% endblock %}
