{% extends "serv/base.html" %}
{% load i18n %}
{% block subtitle %} {% trans 'Mis servicios' %} {% endblock %}

{% block subcontent %}
        <form action="." method="get" class="find_services">
            <fieldset>
                {% include "main/form_snippet.html" %}
            </fieldset>
            <input class="submit" type="submit" value="{% trans 'Encontrar servicios' %}"/>
        </form>
        {% with services as services %}
            {% include "serv/listservs.html" %}
        {% endwith %}
{% endblock %}
