{% load i18n %}
<div class="serv {% if serv.oferta %}offer{% else %}demand{% endif %} {% if not serv.activo %}inactive{% endif %}">
        <div class="information">
            {% trans "Tipo" %}:
            <span class="type">{% if serv.oferta %}<a href="{% url serv-list %}?the_type=1">{% trans "oferta" %}{% else %}<a href="{% url serv-list %}?the_type=2">{% trans "demanda" %}{% endif %}</a></span> /
            {% if not serv.activo %}
                <span class="inactive">{% trans "Inactiva"  %}</span> /
            {% endif %}
            {% trans "Zona" %}:
            <span class="zone"><a href="{% url serv-list %}?area={{ serv.zona.id }}">{{ serv.zona }}</a></span> /
            {% trans "Categoría" %}:
            <span class="category"><a href="{% url serv-list %}?category={{ serv.categoria.id }}">{{ serv.categoria }}</a></span> /
            <span class="date"> {% trans "Publicado hace" %} {{ serv.pub_date|timesince }} </span>
        </div>
        <div class="gravatar">
            <a href="{% url user-view serv.creador.id %}">
                <img src="{% gravatar serv.creador.email 48 %}" alt="{{ serv.creador.username }}" title="{{ serv.creador.username }}"/>
                {{ serv.creador.username }}
            </a>
        </div>
        <a href="{% url serv-view serv.id %}"><div class="description">{{ serv.descripcion|truncatewords:50|linebreaks }}</div></a>
        <div class="cleaner"></div>
        <div class="information2">
            {{ serv.transfers_count }} {% trans "transferencias" %} / {{ serv.messages_count }} {% trans "comentarios" %} / {{ serv.credits_transfered }} {% trans "créditos transferidos" %}
        </div>
        <div class="cleaner"></div>
        <div class="buttons">
            {% if user.is_authenticated and serv.creador == user %}
                <a class="action" href="{% url serv-comment-add serv.id %}">{% trans "Comentar" %}</a>
                <a class="action" href="{% url serv-edit serv.id %}">{% trans "Modificar" %}</a>
                <form method="POST" action="{% url serv-del serv.id %}"> {% csrf_token %}
                    <input class="action" name="delete" type="submit" value="{% trans "Eliminar" %}"/>
                </form>
                {% if serv.activo %}
                    <form method="POST" action="{% url serv-deactive serv.id %}"> {% csrf_token %}
                        <input class="action" name="deactive" type="submit" value="{% trans "Desactivar" %}"/>
                    </form>
                {% else %}
                    <form method="POST" action="{% url serv-active serv.id %}"> {% csrf_token %}
                        <input class="action" name="active" type="submit" value="{% trans "Activar" %}"/>
                    </form>
                {% endif %}
            {% endif %}
            {% if user.is_authenticated and serv.creador != user %}
                {% transfer_actions serv %}
                <a class="action" href="{% url serv-comment-add serv.id %}">{% trans "Comentar" %}</a>
                <a class="action" href="{% url messages_compose_to serv.creador.username %}">{% trans "Enviar mensaje privado a" %} {{ serv.creador.username }}</a>
            {% endif %}
        </div>
    </div>
    <div class="cleaner"></div>