{% load i18n %} 
<div class="serv {% if serv.is_offer %}offer{% else %}demand{% endif %} {% if not serv.is_active %}inactive{% endif %}">
        <div class="information">
            {% trans "Tipo" %}:
            <span class="type">{% if serv.is_offer %}<a href="{% url serv-list %}?the_type=1">{% trans "oferta" %}{% else %}<a href="{% url serv-list %}?the_type=2">{% trans "demanda" %}{% endif %}</a></span> /
            {% if not serv.is_active %}
                <span class="inactive">{% trans "Inactiva"  %}</span> /
            {% endif %}
            {% trans "Zona" %}:
            <span class="zone"><a href="{% url serv-list %}?area={{ serv.area.id }}">
            {% if serv.area %}
                {{ serv.area }}
            {% else %}
                {% trans "Todas" %}
            {% endif %}
            </a></span> /
            {% trans "Categoría" %}:
            <span class="category"><a href="{% url serv-list %}?category={{ serv.category.id }}">{{ serv.category }}</a></span> /
            <span class="date"> {% trans "Publicado hace" %} {{ serv.pub_date|timesince }} </span>
        </div>
        <div class="gravatar">
            {% if user.is_authenticated %}
                <a href="{% url user-view serv.creator.id %}">
                    <img src="{% gravatar serv.creator.email 48 %}" alt="{{ serv.creator.username }}" title="{{ serv.creator.username }}"/>
                    <div>{{ serv.creator.username|truncate_chars:7 }}</div>
                </a>
            {% else %}
                <img src="{% gravatar serv.creator.email 48 %}"/>
            {% endif %}
        </div>
        <a href="{% url serv-view serv.id %}"><div class="description">{{ serv.description|truncatewords:50|linebreaks }}</div></a>
        <div class="cleaner"></div>
        <div class="information2">
            {{ serv.transfers_count }} {% trans "transferencias" %} / {{ serv.messages_count }} {% trans "comentarios" %} / {{ serv.credit_hours_transfered }} {% trans "horas transferidas" %}
        </div>
        <div class="cleaner"></div>
        <div class="buttons">
            {% if user.is_authenticated and serv.creator == user %}
                <a class="action" href="{% url serv-comment-add serv.id %}">{% trans "Comentar" %}</a>
                <a class="action" href="{% url serv-edit serv.id %}">{% trans "Modificar" %}</a>
                <form method="POST" action="{% url serv-del serv.id %}"> {% csrf_token %}
                    <input class="action" name="delete" type="submit" value="{% trans "Eliminar" %}"/>
                </form>
                {% if serv.is_active %}
                    <form method="POST" action="{% url serv-deactive serv.id %}"> {% csrf_token %}
                        <input class="action" name="deactive" type="submit" value="{% trans "Desactivar" %}"/>
                    </form>
                {% else %}
                    <form method="POST" action="{% url serv-active serv.id %}"> {% csrf_token %}
                        <input class="action" name="active" type="submit" value="{% trans "Activar" %}"/>
                    </form>
                {% endif %}
            {% endif %}
            {% if user.is_authenticated and serv.creator != user %}
                {% transfer_actions serv %}
                <a class="action" href="{% url serv-comment-add serv.id %}">{% trans "Comentar" %}</a>
                <a class="action" href="{% url messages_compose_to serv.creator.username %}">{% trans "Enviar mensaje privado" %}</a>
            {% endif %}
        </div>
    </div>
    <div class="cleaner"></div>