{% load i18n %}
<div class="serv transfer {% if not transfer.status == 'r' %}inactive{% endif %} {% if not transfer.status == 'd' %}offer{% endif %}">
        <div class="information">
        </div>
        <div class="gravatar">
            <a href="{% url user-view transfer.creator.id %}">
                <img src="{% gravatar transfer.creator.email 48 %}" alt="{{ transfer.creator.username }}" title="{{ transfer.creator.username }}"/>
                {{ transfer.creator.username }}
            </a>
        </div>
        <a href="{% url serv-transfer-view transfer.id %}"><div class="description"><p>{{ transfer.description|linebreaks }}</p></div></a>
        <div class="cleaner"></div>
        <div class="information2">
            {% url user-view transfer.credits_debtor.id as debtor_url %}
            {% url user-view transfer.credits_payee.id as payee_url %}
            {% if transfer.is_public %}
                {% blocktrans with transfer.credits_debtor.username as debtor and transfer.credits_payee.username as payee and transfer.credit_hours as credits and transfer.request_date|timesince as created %}Transferencia de {{ credits }} horas de <a href="{{ debtor_url }}">{{ debtor }}</a> a <a href="{{ payee_url }}">{{ payee }}</a>{% endblocktrans %}
            {% else %}
                {% blocktrans with transfer.credits_debtor.username as debtor and transfer.credits_payee.username as payee and transfer.credit_hours as credits %}Transferencia privada de {{ credits }} horas de <a href="{{ debtor_url }}">{{ debtor }}</a> a <a href="{{ payee_url }}">{{ payee }}</a>{% endblocktrans %}
            {% endif %} / {% trans "Estado" %}:
            {% if transfer.status == "q" %}
                {% trans     "<strong>creada</strong>, hace" %} {{ transfer.request_date|timesince }}
            {% endif %}{% if transfer.status == "a" %}
                {% trans "<strong>aceptada</strong>, creada hace" %} {{ transfer.request_date|timesince }}
            {% endif %}{% if transfer.status == "r" %}
                {% trans "<strong>rechazada</strong>, creada hace" %} {{ transfer.request_date|timesince }}
            {% endif %}{% if transfer.status == "d" %}
                {% trans "<strong>confirmada</strong> hace" %} {{ transfer.confirmation_date|timesince }}
            {% endif %}
            {% transfer_rating transfer %}
        </div>
        <div class="cleaner"></div>
        <div class="buttons">
            {% if user.is_authenticated and transfer.service.creador != user %}
                {% if transfer.status == "q" or transfer.status == "a" %}
                    <a class="action" href="{% url serv-transfer-edit transfer.id %}">{% trans "Editar transferencia" %}</a>
                    <form method="POST" action="{% url serv-transfer-cancel transfer.id %}"> {% csrf_token %}
                        <input class="action" name="submit" type="submit" value="{% trans 'Cancelar transferencia' %}"/>
                    </form>
                {% endif %}
                <a class="action" href="{% url messages_compose_to transfer.creator.username %}">{% trans "Enviar mensaje privado" %}</a>
            {% endif %}
            {% if user.is_authenticated and transfer.service.creador == user %}
                {% if transfer.status == "q" %}
                    <form method="POST" action="{% url serv-transfer-accept transfer.id %}"> {% csrf_token %}
                        <input class="action" name="submit" type="submit" value="{% trans 'Aceptar transferencia' %}"/>
                    </form>
                    <form method="POST" action="{% url serv-transfer-cancel transfer.id %}"> {% csrf_token %}
                        <input class="action" name="submit" type="submit" value="{% trans 'Cancelar transferencia' %}"/>
                    </form>
                {% endif %}
                {% if transfer.status == "a" %}
                    <form method="POST" action="{% url serv-transfer-cancel transfer.id %}"> {% csrf_token %}
                        <input class="action" name="submit" type="submit" value="{% trans 'Cancelar transferencia' %}"/>
                    </form>
                {% endif %}
            {% endif %}
            {% if user.is_authenticated and transfer.credits_debtor == user and transfer.status == "a" %}
                    <form method="POST" action="{% url serv-transfer-confirm transfer.id %}"> {% csrf_token %}
                        <input class="action" name="submit" type="submit" value="{% trans 'Confirmar transferencia' %}"/>
                    </form>
            {% endif %}
        </div>
    </div>
    <div class="cleaner"></div>