{% load i18n %}
<div class="serv transfer {% if not transfer.status == 'r' %}inactive{% endif %} {% if not transfer.status == 'd' %}offer{% endif %}">
        <div class="information">
        </div>
        <div class="gravatar">
            <a href="{% url user-view transfer.creator.id %}">
                <img src="{% gravatar transfer.creator.email 48 %}" alt="{{ transfer.creator.username }}" title="{{ transfer.creator.username }}"/>
                {{ transfer.creator.username }}
            </a>
        </div>
        <a href="{% url serv-transfer-edit transfer.id %}"><div class="description"><p>{{ transfer.description|linebreaks }}</p></div></a>
        <div class="cleaner"></div>
        <div class="information2">
            {{ transfer.credits }} {% trans "créditos" %} /
            {% if transfer.is_public %}
                {% trans "la transferencia es pública" %}
            {% else %}
                {% trans "la transferencia es privada" %}
            {% endif %} / {% trans "Estado" %}: 
            {% if transfer.status == "q" %}
                {% trans "Transferencia creada, hace" %} {{ transfer.request_date|timesince }}
            {% endif %}{% if transfer.status == "a" %}
                {% trans "Transferencia aceptada, creada hace" %} {{ transfer.request_date|timesince }}
            {% endif %}{% if transfer.status == "r" %}
                {% trans "Transferencia rechazada, creada hace" %} {{ transfer.request_date|timesince }}
            {% endif %}{% if transfer.status == "d" %}
                {% trans "Transferencia confirmada hace" %} {{ transfer.confirmation_date|timesince }}
            {% endif %}
        </div>
        <div class="cleaner"></div>
        <div class="buttons">
            {% if user.is_authenticated and transfer.service.creador != user %}
                {% if transfer.status = "q" or transfer.status = "a" %}
                    <a class="action" href="{% url serv-transfer-edit transfer.id %}">{% trans "Editar transferencia" %}</a>
                    <a class="action" href="{% url serv-transfer-cancel transfer.id %}">{% trans "Cancelar transferencia" %}</a>
                {% endif %}
                <a class="action" href="{ % url serv-talk transfer.service.id % }">{% trans "Comentar servicio" %}</a>
                <a class="action" href="{% url messages_compose_to transfer.service.creador.username %}">{% trans "Enviar mensaje privado a" %} {{ transfer.service.creador.username }}</a>
            {% endif %}
        </div>
    </div>
    <div class="cleaner"></div>