{% extends "serv/base.html" %}
{% load i18n %}
{% block subtitle %}
        {% trans "Ver servicio" %}
{% endblock %}

{% block subcontent %}
{% with service as serv %}
    {% include "serv/single_service_view.html" %}
{% endwith %}
<h2 style="margin-top: 30px">{% trans "Transferencias del servicio" %}</h2>
{% for transfer in service.transfers.all %}
    {% if transfer.is_public or user.is_authenticated and transfer.credits_debtor == user or user.is_authenticated and transfer.credits_payee == user %}
        {% include "serv/single_transfer_view2.html" %}
    {% endif %}
{% empty %}
    {% trans "Ninguna transferencia por ahora." %}
{% endfor %}
<h2 style="margin-top: 30px">{% trans "Comentarios sobre el servicio" %}</h2>
{% for comment in service.comments %}
    {% if comment.is_public or user.is_authenticated and comment.sender == user or user.is_authenticated and comment.recipient == user %}
<!--         { % include "serv/single_comment_view.html" % } -->
    {% endif %}
{% empty %}
    {% trans "Ningún comentario por ahora." %}
{% endfor %}
{% endblock %}