{% extends "serv/base_transfer.html" %}
{% load i18n %}
{% block subtitle %}
        {% trans "View transfer" %}
{% endblock %}

{% block subcontent %}
    {% include "serv/single_transfer_view.html" %}
    {% if transfer.service %}
        <h2 style="margin-top: 30px">{% trans "Service being transferred" %}</h2>
        {% with transfer.service as serv %}
            {% include "serv/single_service_view.html" %}
        {% endwith %}
        <h2 style="margin-top: 30px">{% trans "Comments on service" %}</h2>
        {% for comment in transfer.service.messages.all|limit_results %}
            {% if comment.is_public or user.is_authenticated and comment.sender == user or user.is_authenticated and comment.recipient == user %}
                {% include "serv/single_comment_view.html" %}
            {% endif %}
        {% empty %}
            {% trans "No comments for now." %}
        {% endfor %}
    {% endif %}
{% endblock %}
