{% extends "buscador.html" %}
{% block anonimo %}
    Anonimo
{% endblock %}

{% block anonimo2 %}
<div id="anonimo"/>
    <h3>¿Quieres más? ¿Quieres ofrecer tus servicios a cambio de servicios de otros? ¿Has visto algo que te interese? ¿Quieres disfrutar de toda la funcionalidad de éste Banco del Tiempo? No esperes,</h3><h2> <a href="{% url aplicacion.views.registro %}">registrate ya</a>.</h2>
</div>


{% endblock%}

{% block anonimo3 %} DISABLED {% endblock%}

{% block anonimo4 %} debe <a href="{% url aplicacion.views.registro %}">registrarse</a> para habilitar esta funcionalidad {% endblock%}

{% block anonimo5 %} DISABLED {% endblock%}

{% block anonimo6 %} "Ud. no puede contactar porque no esta registrado." {% endblock%}
