{% extends "base_online.html" %}
{% block style %}"/site_media/personal.css"{% endblock %}
{% block content %}
{% load humanize %}

<div id="historial">
<table border="1">
	<table border="1" rules="groups" width="250px" align="center"> <thead> <th colspan="2" frame="hsides" > Historial de transferencias<br/> por servicios realizados</th></thead>
	{% if set_tx %}
		{% for tx in set_tx %}
			<thead><tr><th colspan="2">
				{{ tx.fechaTx|date:"E\l \dí\a d.m.Y \a \l\a\s H:i"}}
			</th></tr></thead>
			<tbody>
			{% ifequal tx.beneficiario usu %}
				<tr><th><font color="teal"><b> +{{ tx.cantidad }} créditos</font> </th>
				<th>De {{ tx.deudor }}</th></tr>
			{% else %}
				<tr><th><font color="red"><b> -{{ tx.cantidad }} créditos</b></font></th>
				<th>A {{ tx.beneficiario }}</th></tr>
			{% endifequal %}
			
			<tr><td colspan="2">{{ tx.descrServ }}</td></tr></tbody>
		{% endfor %}
	{% else %}
		<tr><td colspan="2"> Aún no has realizado ninguna transferencia por un servicio realizado, cuando realices transferencias las verás almacenadas aquí.</td></tr>
	{% endif %}
	</table>
	
</div>

<div id="descrBien">
	<div id="bienvenida">
		<p><h2> Bienvenid@ {{usu.first_name}} {{ usu.last_name }} </h2>
		tu último login ha sido el {{ usu.last_login.date|date:_("l, j \de F \de Y") }} a las {{ usu.last_login.time|time:"H:i" }} horas. <br/>
		Tu saldo de créditos de tiempo actual es de <strong> 

		<font size="5" color="{{ color }}">{{ usu.get_profile.saldo }}</font> 

		</strong> horas</p><br/><br/>
	</div>
	<div id="mensajes" align="center">
		{% if messages %}
			<strong> Novedades: </strong>
			<ul>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>

	<div id="descripcion">
			<form action="." method="POST">
		<fieldset>
		<legend>Descripción de mí mism@:</legend>
		{% for field in form %}
			{% ifequal field.label_tag form.descr.label_tag %}
					<div class="fieldWrapper">
						<p>
						{{ field.errors }}
						{{ field }}
						</p>
					</div>
			{% endifequal %}
		{% endfor %}
			<input name="changeDesc" type="submit" value="Actualizar descripción" />
			
	<!-- 		{{ object.username }} <br/>
			<p> {{ form.username.label_tag }}: {{ form.username }} </p> <br/> -->
			
		
		</fieldset>
	</div>
</div>	


<div id="datospersonales">

	<fieldset>
    <legend>Modificar datos personales:</legend>
	
		{% for field in form %}
			{% ifnotequal field.label_tag form.descr.label_tag %}
				{% ifequal field.label_tag form.fecha_de_nacimiento.label_tag %}
				<div class="fieldWrapper">
					<p>
					{{ field.errors }}
						{{ field.label_tag }}: <input type="text" name="fecha_de_nacimiento" value="{% if form.cleaned_data.fecha_de_nacimiento %}{{ form.cleaned_data.fecha_de_nacimiento|date:"d/m/Y" }}{% else %}{{ form.data.fecha_de_nacimiento }}{% endif %}" id="id_fecha_de_nacimiento" /> {{ field.help_text }}
					</p>
					<!-- Es el bucle anterior pero en su estructura normal -->
 					{% comment %}
					{% if form.cleaned_data.fecha_de_nacimiento %}
						{{ form.cleaned_data.fecha_de_nacimiento }}
					{% else %}
						{{ form.data.fecha_de_nacimiento }}
					{% endif %} 
					{% endcomment %}
				</div>
				{% else %}
				<div class="fieldWrapper">
					<p>
					{{ field.errors }}
					{{ field.label_tag }}: {{ field }} {{ field.help_text }}
					</p>
				</div>
				{% endifequal %}
			{% endifnotequal %}
			
		{% endfor %}
		<p>Ten en cuenta que si modificas tus datos personales se avisará a la administración de tus cambios.<p/>
		<input name="changeData" type="submit" value="Actualizar datos personales" />

		
<!-- 		{{ object.username }} <br/>
		<p> {{ form.username.label_tag }}: {{ form.username }} </p> <br/> -->
		
	</form>
	</fieldset>
</div>



<div id="opciones">
		<h3> Opciones: </h3>
		<div class="changepwd">
			<a href="{% url serv.views.contAdm %}"> Contacto con la administración </a> <br/>
			<a href="{% url serv.views.msjAdm %}"> Mensajes con la administración </a> <br/>
		</div>
		<div class="changepwd">
			<a href="{% url aplicacion.views.cambioPwd %}"> Cambiar contraseña </a> <br/> 
		</div>
		<div class="changepwd">
			<a href="{% url aplicacion.views.baja %}"> Darme de baja </a> <br/>
		</div>
	
</div>



<!-- 
<table style="width: 800px;">
   <tr>
      <td style="width: 400px;">
      <div style="overflow:auto; width:400px; height: 200px;">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus facilisis, risus at tempor volutpat, eros nulla malesuada augue, vitae consectetuer quam quam eu nibh. Suspendisse laoreet dignissim neque. Sed semper. Nullam facilisis. Nam tristique sapien. Sed turpis justo, lobortis sit amet, posuere at, tristique id, nunc. Vestibulum rutrum dui at lectus. Sed enim. Ut eros eros, pulvinar a, vestibulum sit amet, ornare ac, eros. Suspendisse imperdiet.
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus facilisis, risus at tempor volutpat, eros nulla malesuada augue, vitae consectetuer quam quam eu nibh. Suspendisse laoreet dignissim neque. Sed semper. Nullam facilisis. Nam tristique sapien. Sed turpis justo, lobortis sit amet, posuere at, tristique id, nunc. Vestibulum rutrum dui at lectus. Sed enim. Ut eros eros, pulvinar a, vestibulum sit amet, ornare ac, eros. Suspendisse imperdiet.
      </div>
      </td>
      <td style="width: 400px;"></td>
   </tr>
</table> -->


{% endblock %}
