{% extends "base_online.html" %}
{% block style %}"/site_media/servicios.css"{% endblock %}
{% block content %}
{% if msj %}
	{{ nombre_usuario }} {{ msj }}<br/><br/>
{% endif %}
	<!-- Formulario para crear nuevo servicio -->
	<h3> Crear un nuevo servicio: </h3>
	<form action="." method="POST">
		{{ form.as_p }}
		<input type="submit" name="creaServ" value="{{ valCreaServ }}" />
		<input name="id_modifica" type="hidden" value="{{ id_edit }}"/> <!-- Se usa porque nos hace falta almacenar el valor del elto. que está siendo modificado  -->
	</form>


	<!-- Es muy repetitivo, pero no veo el bucle for con if que me pueda dejar cada servicio en cada parte si me los pasaran todos, tampoco puedo llamar a una funcion aquí -->
	<h3> Servicios que ofertas actualmente: </h3>
	{% for serv in ofreces %}
		<fieldset>
			<p> {{ serv.descripcion }} </p>
			<p> Zona: <strong> {{ serv.zona }} </strong> Categoría: <font color="teal">{{ serv.categoria }} </font>  Fecha:<font color="navy"> {{ serv.pub_date|date:"d.m.Y, H:i" }} </font></p>
			<div class="botones">
				<form method="POST" >
					<input name="Modificar" type="submit" value="Modificar"/>
					<input name="Eliminar" type="submit" value="Eliminar"/>
					<input name="Desactivar" type="submit" value="Desactivar"/>
					<input name="id_elemento" type="hidden" value="{{ serv.id }}"/>
				</form>
			</div>
		</fieldset>
	{% endfor %}
	{% if not ofreces %}
		Ninguno
	{% endif %}


	<h3> Servicios que solicitas actualmente: </h3>
	{% for serv in solicitas %}
		<fieldset>
			<p> {{ serv.descripcion }} </p>
			<p> Zona: <strong> {{ serv.zona }} </strong> Categoría: <font color="teal">{{ serv.categoria }} </font> Fecha: <font color="navy">{{ serv.pub_date|date:"d.m.Y, H:i" }} </font></p>
			<form method="POST">
				<input name="Modificar" type="submit" value="Modificar"/>
				<input name="Eliminar" type="submit" value="Eliminar"/>
				<input name="Desactivar" type="submit" value="Desactivar"/>
				<input name="id_elemento" type="hidden" value="{{ serv.id }}"/>
			</form>
		</fieldset>
	{% endfor %}
	{% if not solicitas %}
		Ninguno
	{% endif %}

	<h3> Servicios que tienes inactivos: </h3>
	{% for serv in inactivos %}
		<fieldset>
			{% if serv.oferta %}
				OFERTA:
			{% else %}
				DEMANDA:
			{% endif %}
			<p> {{ serv.descripcion }} </p>
			<p> Zona: <strong> {{ serv.zona }} </strong> Categoría: <font color="teal">{{ serv.categoria }} </font> Fecha: {{ serv.pub_date|date:"d.m.Y, H:i" }}</p>
			<form method="POST">
				<input name="Modificar" type="submit" value="Modificar"/>
				<input name="Eliminar" type="submit" value="Eliminar"/>
				<input name="Activar" type="submit" value="Activar"/>
				<input name="id_elemento" type="hidden" value="{{ serv.id }}"/>
			</form>
		</fieldset>
	{% endfor %}
	{% if not inactivos %}
		Ningun servicio inactivo.
	{% endif %}


{% endblock content %}