{% load i18n %}
{% load flashmsg %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="es">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{{ SITE_NAME }} / {% block title %} {% trans 'Home' %}  {% endblock %}</title>
        <meta name="keywords" content="timebank,banco del tiempo"/>
        <meta name="description" content="timebank"/>
        <link rel="shortcut icon" href="{{ MEDIA_URL }}imgs/favicon.ico" type="image/x-icon" />
        <link href="{{ MEDIA_URL }}flashmsg.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}templatemo/style.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}templatemo/fullsize.css" media="screen" rel="stylesheet" type="text/css" />
        <link href='{{ MEDIA_URL }}jquery.rating.css' type="text/css" rel="stylesheet"/>
        <link rel="alternate" title="RSS" href="{ % url news-feed %}" type="application/rss+xml">
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/timebank.js"></script>
        <script src='{{ MEDIA_URL }}js/jquery.MetaData.js' type="text/javascript" language="javascript"></script>
        <script src='{{ MEDIA_URL }}js/jquery.rating.js' type="text/javascript" language="javascript"></script>
    </head>
    <body>
    <div id="container">
        <div id="header">
            <div id="logo_area">
                <div id="logo"><a href="/"><img src="{{ MEDIA_URL }}imgs/timebank.png"></a></div>
          </div>
        <form action="{% url django.views.i18n.set_language %}" method="POST">
            {% csrf_token %}
            <select name="language" id="select-language-input">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% for key, value in LANGUAGES %}
                {% ifequal key LANGUAGE_CODE %}
                    <option value="{{ key }}" selected="selected">{{ value }}</option>
                {% else %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endifequal %}
            {% endfor %}
            </select>
        </form>
            <div id="social">
                <!--<a href="{ % url news.views.feed %}"><img src="{{ MEDIA_URL }}templatemo/templatemo_icon_3.jpg" alt="RSS"></a>
                <a href="#"><img src="{{ MEDIA_URL }}templatemo/templatemo_icon_2.jpg" alt="Twitter"></a>
                <a href="#"><img src="{{ MEDIA_URL }}templatemo/templatemo_icon_1.jpg" alt="Delicious"></a>
                <form action="#" method="post">
                    <input value="SEARCH" name="q" class="field" title="email" onfocus="clearText(this)" onblur="clearText(this)" type="text">
                    <input name="search" value="" alt="Search" class="button" title="Subscribe" type="submit">
                </form>-->
            </div>
            <div id="menu">
                {% if user.is_authenticated %}
                    <ul id="login">
                        <li><span>{% blocktrans with user.username as username %}Hello, {{ username }}!{% endblocktrans %}</span></li>
                        <li><a href="{% url user-logout %}"  class="last">{% trans 'Log out' %}</a></li>
                    </ul>
                    <ul>
                        {% if user.is_staff or user.is_superuser %}
                            <li><a href="{% url admin:index %}" class="{% current_tab 'admin-panel' %}">{% trans 'Administration' %}</a></li>
                        {% endif %}
                        <li><a href="{% url user-find-people %}" class="{% current_tab 'people' %}">{% trans 'People' %}</a></li>
                        <li><a href="{% url serv-list %}" class="{% current_tab 'services' %}">{% trans 'Services' %}</a></li>
                        <li><a href="{% url serv-transfers-mine %}" class="{% current_tab 'transfers' %}">{% trans 'Transfers' %}</a></li>
                        <li><a class="messages_inbox {% current_tab 'messages' %}" href="{% url messages_inbox %}">{% num_unread_messages %} {% trans 'Messages' %}</a></li>
                        <li><a href="{% url user-edit-profile %}" class="last {% current_tab 'profile' %}">{% trans 'Profile' %}</a></li>
                    </ul>
                {% else %}
                    <ul id="login">
                        <li><a href="{% url user-login %}" class="{% current_tab 'login' %}">{% trans 'Login' %}</a></li>
                        <li><a href="{% url user-register %}" class="last {% current_tab 'register' %}">{% trans 'Register' %}</a></li>
                    </ul>
                    <ul>
                        <li><a href="/" class="{% current_tab 'default' %}">{% trans 'Home' %}</a></li>
                        <li><a href="{% url user-find-people %}" class="{% current_tab 'people' %}">{% trans 'People' %}</a></li>
                        <li><a href="{% url serv-list %}" class="last {% current_tab 'services' %}">{% trans 'Services' %}</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>

        <div id="content_area">
            <div id="left">
                <div class="section_1">
                    {% if not user.is_authenticated %}
                        <div class="top">
                            <h1>{% trans 'Login' %}</h1>
                            <span class="title">
                                <a href="{% url user-remember %}" class="{% current_tab 'user-remember' %}">{% trans 'Forgot your password?' %}</a>
                            </span>
                        </div>
                        <div class="middle">
                            <div class="bottom">
                                <form method="post" action="{% url user-login %}">
                                    {% csrf_token %}
                                    {{ login_form.as_p }}
                                    <input type="submit" value="{% trans 'Login' %}" />
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <div class="top">
                            <h1>{{ user.username }}</h1>
                            <span class="title">
                                <a href="{% url user-preferences %}" class="{% current_tab 'user-preferences' %}">{% trans 'Preferences' %}</a>
                            </span>
                        </div>
                        <div class="middle">
                            <div class="bottom">
                                <img src="{% gravatar user.email 80 %}" alt="{{ user.username }}" title="{{ user.username }}"/>
                                {% trans "Credits" %}: <strong>{{ user.balance_hours }} hours</strong>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="section_2">
                    <h1>
                        <a href="{% url news.views.feed %}"><img src="{{ MEDIA_URL }}templatemo/templatemo_icon_3.jpg" alt="RSS"></a>
                        {% trans 'News' %}
                    </h1>
                    {% for new in front_news %}
                        <div class="new {% cycle 'blue' 'green' 'yellow' %}">
                        {% include "news/truncnewfront.html" %}
                        </div>
                    {% endfor %}
                    <a href="{% url news %}">{% trans "+ news" %}</a>
                </div>

                <div class="section_2">
<!--                     <a href="http://validator.w3.org/check?uri=referer"><img style="border: 0pt none; width: 88px; height: 31px;" src="{{ MEDIA_URL }}templatemo/valid-xhtml10.png" alt="Valid XHTML 1.0 Transitional" vspace="8" width="88" border="0" height="31"></a> -->
<!--                 <a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border: 0pt none; width: 88px; height: 31px;" src="{{ MEDIA_URL }}templatemo/vcss-blue.gif" alt="Valid CSS!" vspace="8" border="0"></a> -->
                </div>

            </div><!-- End of left -->

            <div id="right">
                <div id="flash_messages">{% flash %}</div>
                {% block content %}
                {% endblock %}

                <div class="cleaner"></div>

            </div><!-- End of right -->

        </div> <!-- End of content_area -->

    </div><!-- End Of Container -->
    <div class="cleaner"></div>
     <div id="footer">
            <ul class="footer_menu">
                <li><a href="/" class="{% current_tab 'default' %}">{% trans "Home" %}</a></li>
                <li><a href="{% url news %}" class="{% current_tab 'news' %}">{% trans "News" %}</a></li>
                <li><a href="{% url contact %}" class="{% current_tab 'contact' %}">{% trans "Contact" %}</a></li>
                {% for page in flatpages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                <li><a href="http://wadobo.com/trac/timebank">{% trans "project page" %}</a></li>
                <li><a href="http://wadobo.com">{% trans "created by" %} wadobo</a></li>
            </ul>
        </div>
    </body>
</html>
