{% load i18n %}
{% load flashmsg %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="es">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{{ SITE_NAME }} / {% block title %} {% trans 'Portada' %}  {% endblock %}</title>
        <meta name="keywords" content="timebank,banco del tiempo,ecolocal"/>
        <meta name="description" content="timebank"/>
        <link href="{{ MEDIA_URL }}flashmsg.css" rel="stylesheet" type="text/css">
        <link href="{{ MEDIA_URL }}templatemo/style.css" rel="stylesheet" type="text/css"> 
        <link href="{{ MEDIA_URL }}templatemo/fullsize.css" media="screen" rel="stylesheet" type="text/css">
        <link rel="alternate" title="RSS" href="{% url news-feed %}" type="application/rss+xml">
        <script type="text/javascript" src="{{ MEDIA_URL }}templatemo/jquery.js"></script>
    </head>
    <body>
    <div id="container"> 
        <div id="header">
            <div id="logo_area">
                <div id="logo"><a href="/"><img src="{{ MEDIA_URL }}imgs/timebank.png"></a></div>
          </div>
            <div id="social">
                <a href="{% url news.views.feed %}"><img src="{{ MEDIA_URL }}templatemo/templatemo_icon_3.jpg" alt="RSS"></a>
                <a href="#"><img src="{{ MEDIA_URL }}templatemo/templatemo_icon_2.jpg" alt="Twitter"></a>
                <a href="#"><img src="{{ MEDIA_URL }}templatemo/templatemo_icon_1.jpg" alt="Delicious"></a>
                <form action="#" method="post">
                    <input value="SEARCH" name="q" class="field" title="email" onfocus="clearText(this)" onblur="clearText(this)" type="text">
                    <input name="search" value="" alt="Search" class="button" title="Subscribe" type="submit">
                </form>
            </div>
            <div id="menu">
                {% if user.is_authenticated %}
                    <ul id="login">
                        <li><span>{% blocktrans with user.username as username %}¡Hola, {{ username }}!{% endblocktrans %}</span></li>
                        <li><a href="{% url user-logout %}"  class="last">{% trans 'Salir' %}</a></li>
                    </ul>
                    <ul>
                        <li><a href="/people/" class="current">{% trans 'Gente' %}</a></li>
                        <li><a href="/services/">{% trans 'Servicios' %}</a></li>
                        <li><a href="/user/transfers/">{% trans 'Transferencias' %}</a></li>
                        <li><a class="messages_inbox" href="{% url messages_inbox %}">{% num_unread_messages %} {% trans 'Mensajes' %}</a></li>
                        <li><a href="/user/profile/" class="last">{% trans 'Perfil' %}</a></li>
                    </ul>
                {% else %}
                    <ul id="login">
                        <li><a href="{% url user-login %}">{% trans 'Entrar' %}</a></li>
                        <li><a href="{% url user-register %}" class="last">{% trans 'Registrarse' %}</a></li>
                    </ul>
                    <ul>
                        <li><a href="/" class="current">{% trans 'Inicio' %}</a></li>
                        <li><a href="/people/">{% trans 'Gente' %}</a></li>
                        <li><a href="/services/" class="last">{% trans 'Servicios' %}</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
        
        <div id="content_area">
            <div id="left">
                <div class="section_1">
                    {% if not user.is_authenticated %}
                        <div class="top">
                            <h1>{% trans 'Entrar' %}</h1>
                            <span class="title">
                                <a href="{% url user-remember %}">{% trans '¿Olvidaste la contraseña?' %}</a>
                            </span>
                        </div>
                        <div class="middle">
                            <div class="bottom">
                                <form method="post" action="{% url user-login %}">
                                    {% csrf_token %}
                                    {{ login_form.as_p }}
                                    <input type="submit" value="{% trans 'Entrar' %}" />
                                </form>
                            </div>
                        </div>
                    {% else %}
                    <!-- TODO: Show transfers, or info about the user... -->
                        <div class="top">
                            <h1>{{ user.username }}</h1>
                            <span class="title">
                                <a href="{% url user-preferences %}">{% trans 'Preferencias' %}</a>
                            </span>
                        </div>
                        <div class="middle">
                            <div class="bottom">
                                <img src="{% gravatar user.email 80 %}" alt="{{ user.username }}" title="{{ user.username }}"/>
                            </div>
                        </div>
                    {% endif %}
                </div>
                
                <div class="templaemo_h_line"></div>
                
                <div class="section_2">
                    <h1>
                        <a href="{% url news.views.feed %}"><img src="{{ MEDIA_URL }}templatemo/templatemo_icon_3.jpg" alt="RSS"></a>
                        {% trans 'Novedades' %}
                    </h1>
                    {% for new in front_news %}
                        <div class="new {% cycle 'blue' 'green' 'yellow' %}">
                        {% include "news/truncnewfront.html" %}
                        </div>
                    {% endfor %}
                    <a href="{% url news %}">{% trans "+ noticias" %}</a>
                </div>
                
                <div class="templaemo_h_line"></div>
                
                <div class="section_2">
<!--                     <a href="http://validator.w3.org/check?uri=referer"><img style="border: 0pt none; width: 88px; height: 31px;" src="{{ MEDIA_URL }}templatemo/valid-xhtml10.png" alt="Valid XHTML 1.0 Transitional" vspace="8" width="88" border="0" height="31"></a> -->
<!--                 <a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border: 0pt none; width: 88px; height: 31px;" src="{{ MEDIA_URL }}templatemo/vcss-blue.gif" alt="Valid CSS!" vspace="8" border="0"></a> -->
                </div>

            </div><!-- End of left -->
            
            <div id="right">
                <div id="flash_messages">{% flash %}</div>
                {% block content %}
                {% endblock %}
                
                <div class="cleaner"></div>
            
            </div><!-- End of right -->
        
        </div> <!-- End of content_area -->
        
    </div><!-- End Of Container -->
    <div class="cleaner"></div>
     <div id="footer">
            <ul class="footer_menu">
                <li><a href="/" class="current">{% trans "Home" %}</a></li>
                <li><a href="/faq">{% trans "Preguntas Frecuentes" %}</a></li>
                <li><a href="/blog">{% trans "Blog" %}</a></li>
                <li><a href="/about">{% trans "Acerca de" %}</a></li>
                <li><a href="{% url contact %}">{% trans "Contacta" %}</a></li>
                <li><a href="/dev">{% trans "Desarrollo" %}</a></li>
                <li class="last_menu"><a href="/tos">{% trans "Condiciones de Uso" %}</a></li>
            </ul>
        </div>
    </body>
</html>
