{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Mensajes' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Mensajes' %} / {% block subtitle %} {% endblock %}</h1>
        <ul class="subnavilist">
            <li><a href="{% url messages_inbox %} ">{% trans "Inbox" %}</a></li>
            <li><a href="{% url messages_outbox %} ">{% trans "Sent Messages" %}</a></li>
            <li><a href="{% url messages_compose %} ">{% trans "New Message" %}</a></li>
            <li><a href="{% url messages_trash %} ">{% trans "Trash" %}</a></li>
        </ul>
        <div id="subcontent">
            {% block subcontent %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
