{% load i18n %}
{% if message.service %}
{% url serv-view message.service.id as service_url %}
{% blocktrans with message.recipient.username as recipient and message.sender.username as sender and message.body|safe as body %}Hi {{ recipient }},

You have received the following comment from {{ sender }} in the service
({{ site_url }}{{ service_url }}):

{{ body }}

--
Sent from {{ site_url }}
View service: ({{ site_url }}{{ service_url }}
{% endblocktrans %}
{% else %}
{% if message.is_public %}
{% blocktrans with message.recipient.username as recipient and message.sender.username as sender%}Hi {{ recipient }},

You have received the following public message from {{ sender }} in the service
({{ site_url }}{{ service_url }}):{% endblocktrans %}
{% else %}
{% blocktrans with message.recipient.username as recipient and message.sender.username as sender%}Hi {{ recipient }},

You have received the following private message from {{ sender }} in the service
({{ site_url }}{{ service_url }}):{% endblocktrans %}
{% endif %}

{{ message.body|safe }}

--
{% blocktrans %}Sent from {{ site_url }}{% endblocktrans %}
{% trans "Inbox" %}: {{ site_url }}{% url messages_inbox %}
{% trans "Reply" %}: {{ site_url }}{% url messages_reply message.pk %}
{% endif %}

