{% load i18n %}{% url serv-view message.service.id as service_url %}{% blocktrans with recipient.username as recipient%}Hola {{ recipient }},

Hay novedades en tu perfil de {{ site_name }} que requieren tu atención:
{% endblocktrans %}

## Mensajes sin leer

{% for msg in unread_messages %}
{% url messages_inbox as inbox_url %}{% if forloop.first %}{% blocktrans %}Ir a la bandeja de entrada:{{ inbox_url }}{% endblocktrans %}{% endif %}
{% url messages_detail msg.id as msg_url %}{% blocktrans with msg.sender.username as from and msg.sent_at|timesince as sent_ago and msg.body|truncate_chars as body %}
    {{ site_url }}{{ msg_url }}
    Mensaje de {{ from }}, enviado hace {{ sent_ago }}:
        {{ body }}

{% endblocktrans %}{% empty %}
    {% trans "No tienes mensajes sin leer" %}{% endfor %}

## {% trans "Comentarios en tu perfil sin leer" %}

{% for msg in unread_comments %}
{% url user-view-current as view_comments_url %}{% if forloop.first %}{% blocktrans %}Lee todos los comentarios en tu perfil: {{ view_comments_url }}{% endblocktrans %}{% endif %}
{% blocktrans with msg.sender.username as from and msg.sent_at|timesince as sent_ago and msg.body|truncate_chars as body %}
    Comentario de {{ from }}, enviado hace {{ sent_ago }}:
        {{ body }}

{% endblocktrans %}{% empty %}
    {% trans "No tienes comentarios en tu perfil sin leer" %}{% endfor %}

## {% trans "Transferencias pendientes" %}

{% for transfer in transfers_pending %}
    {% url serv-transfers-mine as my_transfers_url %}{% if forloop.first %}{% blocktrans %}Administrar todas tus transferencias: {{ my_transfers_url }}{% endblocktrans %}{% endif %}
    {% url serv-transfer-view transfer.id as transfer_url %}{% blocktrans with transfer.creator.username as from and transfer.request_date|timesince as created_ago and transfer.description|truncate_chars as description and transfer.status_readable as status %}
    {{ site_url }}{{ transfer_url }}
    Comentario con {{ from }}, creada hace {{ created_ago }} en estado {{ status }}
        {{ description }}

{% endblocktrans %}{% empty %}
    {% trans "No tienes transferencias pendientes" %}{% endfor %}

{% trans "Además de todo esto, puede interesarte:" %}

## {% trans "Servicios más recientes" %}

{% for service in new_services.object_list %}
{% url serv-list as services_url %}{% if forloop.first %}{% blocktrans %}Lista de servicios: {{ services_url }}{% endblocktrans %}{% endif %}
{% url serv-view service.id as service_url %}{% blocktrans with service.creador.username as from and service.pub_date|timesince as published_ago and service.descripcion|truncate_chars as description and service.categoria.nombre_categoria as category and service.zona.nombre_zona as area %}
    {{ site_url }}{{ service_url }}
    Servicio en la zona "{{ area }}" y categoría "{{category }}" creador por {{ from }} publicado hace {{ published_ago }}
        {{ description }}
{% endblocktrans %}{% empty %}
    {% trans "No hay servicios recientes" %}{% endfor %}
--
{% url user-edit-profile as prefs_url %}{% blocktrans %}
Intercambia tu tiempo y habilidades en {{ site_name }}, {{ site_url }}.

¿No quieres recibir notificaciones por email? Ajusta las preferencias de tu perfil en {{ site_url }}{{ prefs_url }}{% endblocktrans %}