{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Recuperación de contraseña en proceso' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Recuperación de contraseña en proceso' %}</h1>
        <p>{% trans 'Te Hemos enviado un correo a tu email con instrucciones para poder recuperar tu contraseña. Puede tardar un poco; se paciente. Si parece que no te llega, comprueba la carpeta de correos no deseados.' %}
    </div>
{% endblock %}
