{% load i18n %}
{% trans "Estás recibiendo este e-mail porque solicitaste restablecer tu contraseña" %}
{% blocktrans %}para tu cuenta en {{ protocol }}://{{ site_name }}{% endblocktrans %}.

{% trans "Puedes cambiar tu contraseña en la siguiente dirección:" %}

{{ protocol }}://{{ domain }}{% url user-remember-confirm uid token %}

{% trans "Tu nombre de usuario, en caso de que lo olvidases, es:" %} {{ user.username }}

{% trans "¡Gracias por usar nuestro sitio web!" %}

{% blocktrans %}El equipo de {{ site_name }}{% endblocktrans %}