{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Cambia tu contraseña' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Cambia tu contraseña' %}</h1>
        {% if form %}
            <p>{% trans 'Hemos confirmado tu identidad, ahora puedes establecer tu nueva contraseña. Intenta no olvidarla, aunque si la vuelves a olvidar puedes volver a utilizar este mismo formulario para recuperarla siempre que te acuerdes de tu nombre de usuario o tu email.' %}
            <form action="" method="post">
                {% csrf_token %}
                <fieldset>
                    {% include "main/form_snippet.html" %}
                </fieldset>
                <input class="submit" type="submit" value="{% trans 'Cambiar contraseña' %}"/>
            </form>
        {% else %}
            <p>{% trans '<strong>¡Error!</strong> Este enlace de confirmación de contraseña es incorrecto o ha caducado. Comprueba que has accedido al enlace correcto, o vuelve a solicitar el restablecimiento de tu contraseña.' %}</p>
        {% endif %}
    </div>
{% endblock %}
