{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans '¿Has olvidado tu contraseña?' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans '¿Has olvidado tu contraseña?' %}</h1>
        <p>{% trans 'Rellena el siguiente formulario para que podamos enviarte un enlace a tu dirección de email con el que podrás cambiar tu contraseña.' %}
        <form action="." method="post">
            {% csrf_token %}
            <fieldset>
                {% include "main/form_snippet.html" %}
            </fieldset>
            <input class="submit" type="submit" value="{% trans 'Enviar email de comprobación' %}"/>
        </form>
    </div>
{% endblock %}
