{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Eliminar usuario' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Eliminar usuario' %}</h1>
        <form action="" method="post">
            {% csrf_token %}
            <fieldset>
                {% include "main/form_snippet.html" %}
            </fieldset>
            <input class="submit" type="submit" value="{% trans 'Eliminar usuario' %}"/>
        </form>
    </div>
{% endblock %}
