{% load i18n %}
<div class="serv person">
        <div class="information">
            {% trans "Nick" %}:
            <span>{{ person.username }}</span> /
            {% trans "Nombre y apellidos" %}:
            <span>{{ person.first_name }} {{ person.last_name }}</span> /
            {% trans "Créditos (horas)" %}:
            <span>{{ person.balance_hours }}</span> /
            {% trans "Karma" %}:
            <span>{{ person.karma }}</span>
        </div>
        <div class="gravatar">
            <a href="{% url user-view person.id %}">
                <img src="{% gravatar person.email 48 %}" alt="{{ person.username }}" title="{{ person.username }}"/>
                {{ person.username }}
            </a>
        </div>
        <a href="{% url user-view person.id %}"><div class="description">{{ person.description|linebreaks }}</div></a>
</div>
<div class="cleaner"></div>