{% extends "template_base.html" %}

{% load url from future %}

{% load i18n %}

{% block title %}
    {% trans 'View profile' %}
    {% if user != profile and not profile.is_anonymous %}
        / {{ profile.username }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="section_3">
        <h1>
            {% trans 'View profile' %}
            {% if user != profile and not profile.is_anonymous %}
                / {{ profile.username }}
            {% endif %}
        </h1>

        <ul class="subnavilist">
        {% if not user.is_anonymous %}
            <li><a href="{% url 'user-view' profile.id %}" class="current">{% trans "View profile"%}</a><small>/</small></li>
            <li><a href="{% url 'messages_compose_to' profile.username %}">{% trans "Send private message"%}</a><small>/</small></li>
            <li><a href="{% url 'user-view-services' profile.id %}">{% trans "View his services"%}</a><small>/</small></li>
        {% endif %}
        {% if not user.is_anonymous and user == profile %}
            <li><a href="{% url 'user-edit-profile' %}">{% trans "Edit profile" %}</a></li>
        {% else %}
            <li><a href="{% url 'serv-transfer-new-to' profile.id %}">{% trans "Transfer hours" %}</a></li>
        {% endif %}
        </ul>
        <ul class="view-profile">
            <li>
                <em>{% trans "Gravatar" %}:</em>
                <div>
                    <img src="{% avatar profile 80 %}" alt="{{ profile.username }}" title="{{ profile.username }}"/>
                </div>
            </li>
            <li>
                <em>{% trans "Username" %}:</em>
                <div>{{ profile.username }}</div>
            </li>
            <li>
                <em>{% trans "Name" %}:</em>
                <div>{{ profile.first_name }}</div>
            </li>
            <li>
                <em>{% trans "Last Name" %}:</em>
                <div>{{ profile.last_name }}</div>
            </li>
            <li>
                <em>{% trans "Credits" %}:</em>
                <div>{{ profile.balance_hours }} horas</div>
            </li>
            <li>
                <em>{% trans "Description" %}:</em>
                <div>{{ profile.description }}</div>
            </li>
            <li>
                <em>{% trans "Global rating" %}:</em>
                {% user_rating profile %}
            </li>
            {% if user.is_staff %}
                <li>
                    <em>{% trans "Age" %}:</em>
                    <div>{{ profile.birth_date|timesince }}</div>
                </li>
                <li>
                    <em>{% trans "Address" %}:</em>
                    <div>{{ profile.address }}</div>
                </li>
            {% endif %}
            {% if user.is_staff or PUBLIC_USER_INFO %}
                <li>
                    <em>{% trans "Email" %}:</em>
                    <div>{{ profile.email }}</div>
                </li>
                <li>
                    <em>{% trans "Land line" %}:</em>
                    <div>{{ profile.land_line }}</div>
                </li>
                <li>
                    <em>{% trans "Mobile telephone" %}:</em>
                    <div>{{ profile.mobile_tlf }}</div>
                </li>
            {% endif %}
        </ul>
        <div class="cleaner"></div>
        {% if form %}
        <div class="public_messages">
            <form action="{% url 'user-send-public-message' profile.id %}" method="post">
                {% csrf_token %}
                <fieldset>
                    {% include "main/form_snippet.html" %}
                </fieldset>
                <input class="submit" type="submit" value="{% trans 'Publish comment in his profile' %}"/>
            </form>
            <div id="user_message_list" class="services">
                <div class="description"> </div>
                <h1>{% trans "Messages published in his profile" %}</h1>
                {% for comment in message_list %}
                    {% include "serv/single_comment_view.html" %}
                {% empty %}
                    {% trans "No one sent a message to this user profile." %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
